@using Class_09;
@model Class_09.PaginatedList<Class_09.Models.Employee>
@{
    ViewData["Title"] = "Index";
    int cp = Model.PageIndex; //current page
    int tp = Model.TotalPages; //total page
    var next = Model.HasNextPage ? "" : "disabled"; //disabled from bootstraped
    int i = (cp - 1) * ViewBag.pSize + 1;
}

<div class="row">
    <div class="card mt-4 mb-4 p-2">
        <div class="card-header">
            <h2 class="card-title">Employee List</h2>
            <div class="row">
                <div class="col-3">
                    @if(ViewBag.Count != null)
                    {
                        <h6>Total @ViewBag.Count data found</h6>
                    }
                </div>
                <div class="col-9">
                    <form asp-controller="Home" asp-actio="Index" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control me-2" name="usertext" placeholder="Search...." />
                            <button class="btn btn-outline-secondary btn-sm me-2" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped table-sm table-responsive-sm">
                <thead class="table-primary">
                    <tr>
                        <th>
                            Sl No
                        </th>
                        <th>Name
                            <a asp-action="Index" asp-controller="Home" asp-route-sortOrder="@ViewBag.sortParam" asp-route-usertext="@ViewBag.sword"><i class="fa fa-long-arrow-down"></i><i class="fa fa-long-arrow-up"></i></a>
                        </th>
                        <th>Employee Status</th>
                        <th>
                            Salary
                            <a asp-action="Index" asp-controller="Home" asp-route-sortOrder="@ViewBag.sortSalary" asp-route-usertext="@ViewBag.sword"><i class="fa fa-long-arrow-down"></i><i class="fa fa-long-arrow-up"></i></a>
                        </th>
                        <th>Pay Basis</th>
                        <th>Position Title</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@Html.DisplayFor(x=>item.EmployeeName)</td>
                            <td>@Html.DisplayFor(x=>item.EmployeeStatus)</td>
                            <td>@Html.DisplayFor(x=>item.Salary)</td>
                            <td>@Html.DisplayFor(x=>item.PayBasis)</td>
                            <td>@Html.DisplayFor(x=>item.PositionTitle)</td>
                            
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>